  html {
                font-size: 23px
            }
            body {
                background-color: #333;
                color: whitesmoke;
            }
            h1{
                color:blue;
            }
            p{
                color:azure;
            }
            .special{
                color:red;
            }